<div class="fixed inset-0 flex flex-col items-center justify-center bg-white-background text-brown-dark px-6 -mt-4">
  <div class="bg-cream-light border border-brown-dark rounded-2xl shadow-xl p-8 max-w-md text-center animate-fadeIn">
    <h1 class="text-3xl font-extrabold mb-3">Accesso negato</h1>

    <p class="text-brown-dark/70 mb-6 leading-relaxed">
      Non hai il permesso per accedere a questa pagina.<br>
      Effettua l’accesso oppure torna alla home.<br>
      Sarai reindirizzato automaticamente tra 3 secondi.
    </p>

    <button
      routerLink="/"
      class="bg-brown-dark text-yellow-primary px-6 py-3 rounded-full font-semibold hover:bg-orange-soft transition"
    >
      Torna alla home
    </button>

  </div>
</div>
